{% extends 'base.html' %}

{% block content %}

    <!-- <title>Delete Profile Confirmation</title> -->

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card shadow-card p-3 font-red-hat">
            <div class="card-body text-center p-3 ">
                <h1 class="card-title font-red-hat" id="delete-profile-confirmation">Delete Profile Confirmation</h1>
                
                <hr>
                <h3 aria-label="Warning">WARNING!</h3>
                <hr>
                <p>Are you sure you want to delete {{ profile.user.username }}'s profile? Off into the wilderness to fish alone?</p>
                <hr>
                <form method="post" aria-labelledby="delete-profile-confirmation">
                    {% csrf_token %}
                    <button class="btn btn-danger-round m-2" type="submit" aria-label="confirm profile deletion">Confirm Delete</button>
                </form>
                <a href="{% url 'profile_detail' profile.slug %}" class="btn btn-outline-success m-2" aria-label="Cancel Profile Deletion">Cancel</a>
            </div>
            <hr>
        </div>
    </div>

{% endblock %}
