{% extends 'base.html' %}

{% block content %}

<!-- profiles/templates/profiles/profile_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>{{ profile.user.username }}'s Profile</title> -->
</head>
<body>
    <!-- <h1>{{ profile.user.username }}'s Profile</h1>
    <img src="{{ profile.profile_pic.url }}" alt="{{ profile.user.username }}'s Profile Picture">
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    <p><strong>Favourite Fish:</strong> {{ profile.favourite_fish.name }}</p>
    <p><strong>Favourite Fishing Method:</strong> {{ profile.favourite_fishing.name }}</p>
    <a href="{% url 'profile_edit' user.profile.slug %}">Edit Profile</a>
    <a href="{% url 'profile_delete' profile.slug %}">Delete Profile</a>

<br>
<br> -->

<div class="container d-flex justify-content-center align-items-center">
    <div class="card w-75 shadow-card p-3">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body text-center p-3 ">
            <h2 class="card-title ">{{ profile.user.username }}'s Profile</h2>
            <br>
            <img src="{{ profile.profile_pic.url }}" alt="{{ profile.user.username }}'s Profile Picture" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px; object-fit: cover;">
          <p class="card-text border"><strong>Bio:</strong> {{ profile.bio }}</p>
        </div>
        <hr>
        <div class="dropdown-fish">
        <p><strong>Favourite Fish:</strong> {{ profile.favourite_fish.name }}</p>
        <p><strong>Favourite Fishing Method:</strong> {{ profile.favourite_fishing.name }}</p>
        </div>
        <br>
        {% if user.is_authenticated %}
    <a href="{% url 'blog_create' %}" class="btn btn-primary">Create Blog Post</a>
{% endif %}
<br>
        <hr>
        <div class="card-body text-center">
            <a href="{% url 'profile_edit' user.profile.slug %}" class="btn btn-outline-success me-2">Edit Profile</a>
            <a href="{% url 'profile_delete' profile.slug %}" class="btn btn-danger-round">Delete Profile</a>
        </div>
      </div>
    </div>

</body>
</html>


{% endblock %}