<!-- profiles/templates/profiles/profile_confirm_delete.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Profile Confirmation</title>
</head>
<body>
    <h1>Are you sure you want to delete {{ profile.user.username }}'s profile? Off into the wilderness to fish alone?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
    </form>
    <a href="{% url 'profile_detail' profile.slug %}">Cancel</a>
</body>
</html>