/* * { 
    margin: 0; 
    padding: 0; 
}  */

body {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 120px;
}

.font-red-hat {
    font-family: 'Red Hat Display', Times, serif;
}

.footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 114px;
    } 


h1 {
    font-family: "Delius Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
    color: #3f603f;
}


.navbar {
    background-color: #ffffff; /* Sets the navbar background to green */
    color: #3f603f; /* Sets the text color to white */
    font-family: 'Red Hat Display', Times, serif; /* Sets the font to Times New Roman */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand {
    padding-left: 20px; /* Adds padding to the left of the brand logo */
}

.nav-link {
    color:  #3f603f; /* Sets the text color to white */
    ; /* Ensures navbar links are white */
    margin-right: 20px;
}


.navbar-brand, .navbar-nav .nav-link {
    padding: 20px; /* Adds padding to the left of the brand logo */
    color: #3f603f ; /* Ensures navbar links are white */
}

/*navbar toggler*/

.hover:hover {
    color: #3f603f;
    opacity: 0.5;
    text-decoration: underline;
    /* or */
    /* background-color: rgba(63, 96, 63, 0.1); */
}

.navbar-toggler {
    border: 0px;
    margin-right: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(63, 96, 63, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* icon styling */

.fish-icon {
    margin-bottom: 20px;
    margin-left: 20px;
}

.fish-blurb {
    padding: 50px;
}


.form-inline {
    display: flex;
    justify-content: flex-end; /* Aligns search form to the right */
}

.d-flex {
    padding-right: 20px;
}

input[type="search"]::placeholder {
    color: #bbb;
  }


.form-control {
    border-radius: 25px;
    margin-right: 5px; /* Adds space between input and button */
    }


.btn-outline-success {
    color: #3f603f;
    border-color: #3f603f;
    border-radius: 25px;
}

.btn-outline-success:hover {
    background-color: #3f603f;
    color: white;
}

.dropdown-item:hover {
    color: #3f603f;
    opacity: 0.5;
}

/*Blog post */
a {
    text-decoration: none;
    color: #3f603f;
}

.blog-list:hover {
    border-color: #3f603f;
    -webkit-box-shadow: 0 0 0px 12px 3px #999;
     -moz-box-shadow: 0 0 0px 12px 3px #999;
    box-shadow: 0 0px 12px 3px #999;
    transform:scale(1.02);
}

.blog-list {
    transition: all .3s;
}

.post-link {
    color: #3f603f;
    text-decoration: none;
}

.post-link:hover {
    color: #3f603f;
    opacity: 0.7;
}

.pagination .page-link {
    color: #3f603f;
    text-decoration: none;
}

.pagination .page-link:hover {
    color: #3f603f;
    opacity: 0.7;
} 

/* signup warning */
.toast {
    -webkit-box-shadow: 0 0 0px 12px 3px #999;
     -moz-box-shadow: 0 0 0px 12px 3px #999;
    box-shadow: 0 0px 12px 3px #999;
}

.approval {
    color: #e89483;
}

.message-background {
    background-color: #e89483; 
    color: #182518;
    /* border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 0px 12px 3px #999;
     -moz-box-shadow: 0 0 0px 12px 3px #999;
    box-shadow: 0 0px 12px 3px #999; */
}

.message-background:hover {
    -webkit-box-shadow: 0 0 0px 12px 3px #999;
     -moz-box-shadow: 0 0 0px 12px 3px #999;
    box-shadow: 0 0px 12px 3px #999;
    transform:scale(1.02);
}

.card-bord {
    border: none;
}

/* footer */
.container-fluid {
width: 100%;
/* padding-right: var(--bs-gutter-x, .75rem); */
/* padding-left: var(--bs-gutter-x, .75rem); */
margin-right: auto;
margin-left: auto;
}

/* modal */

.model-dialog {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
color: #3f603f;
border-radius: .9rem;
}

.btn-danger-round {
    background-color: #e89483;
    border-radius: 25px;
}

.btn-danger-round:hover {
    background-color: #c32b0d;
    border-radius: 25px;
}

/* profile */

    .profile-container {
        min-height: 100vh;
    }

    .shadow-card {
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }
    .card-img-top {
        width: 100%;
        height: 200px; /* Adjust as needed */
        object-fit: cover;
    }


@media only screen and (max-width: 500px){
    .modal-dialog{ width: 85% !important; }
}

