{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow-card p-3" style="max-width: 600px; width: 100%;">
        <div class="card-body p-3">
            <h1 class="card-title text-center font-red-hat">Edit Blog Post</h1>
            <hr>
            <p>Update your details below:</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.excerpt.as_hidden }}
                {{ form.status.as_hidden }} 
                
                <!-- Title Field -->
                <div class="mb-3">
                    <label for="id_title" class="form-label">Title</label>
                    <small id="title-post" class="form-text text-muted">You must add a title:</small>
                    {{ form.title|add_class:"form-control" }}
                </div>
                
                <!-- Content Field -->
                <div class="mb-3">
                    <label for="id_content" class="form-label">Content</label>
                    <small id="form-post" class="form-label text-muted">You must add some content:</small>
                    {{ form.content|add_class:"form-control" }}
                </div>

                <!-- Featured Image Field -->
                <div class="mb-3">
                    <label for="id_featured_image" class="form-label" id="featured-image-label" aria-describedby="featured_image_post">Featured Image</label>
                    <small id="featured_image_post" class="form-text text-muted">Update the image representing your post.:</small>
                    {{ form.featured_image|add_class:"form-control" }}
                </div>
                
                <!-- Fish Caught Field -->
                <div class="mb-3">
                    <label for="{{ form.favourite_fish.id_for_label }}" class="form-label" id="fish-label" aria-describedby="fish_post">Fish Caught</label>
                    <small id="fish_post" class="form-text text-muted">Update the type of fish caught.</small>
                    {{ form.favourite_fish|add_class:"form-select" }}
                </div>

                <!-- Fishing Method Field -->
                <div class="mb-3">
                    <label for="{{ form.favourite_fishing.id_for_label }}" class="form-label" id="fishing-method-label" aria-describedby="fishing_post">Fishing Method Used</label>
                    <small id="fishing_post" class="form-text text-muted">Update the fishing method used.</small>
                    {{ form.favourite_fishing|add_class:"form-select" }}
                </div>
                
                <!-- Submit Button -->
                <button class="btn btn-outline-success w-100" type="submit" aria-label="Save Changes to Blog Post">Save Changes</button>
            </form>
            
            <div class="mt-3">
                <a href="{% url 'blog_post' blog.slug %}" class="btn btn-danger-round w-100" aria-label="Cancel and Return to Blog post">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
