<div class="position-fixed top-50 start-50 translate-middle" style="z-index: 1050;">
    <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Please read and accept the Terms and Conditions before signing up...it will help you catch bigger fish too, maybe.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>